In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set_theme()

In [22]:
nombre_archivo = 'homicidios.xlsx'
nombre_hoja = 'HECHOS_FALLECIDOS'
df=pd.read_excel(nombre_archivo,sheet_name=nombre_hoja)
df.head(10)

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,Semestre,HORA,HH,LUGAR_DEL_HECHO,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,1,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,1,07:00:00,7,AV ENTRE RIOS 2034,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,1,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,...,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,1,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,...,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS
5,2016-0008,1,2016-01-24,2016,1,24,1,18:30:00,18,AV 27 DE FEBRERO Y AV ESCALADA,...,NaN,ESCALADA AV.,27 DE FEBRERO AV. y ESCALADA AV.,8,Point (101721.59002217 93844.25656649),-58.44451316,-34.68475866,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO
6,2016-0009,1,2016-01-24,2016,1,24,1,19:10:00,19,NOGOYA Y JOAQUIN V. GONZALES,...,NaN,"GONZALEZ, JOAQUIN V.","NOGOYA y GONZALEZ, JOAQUIN V.",11,Point (96545.87592078 102330.67262199),-58.50095869,-34.60825440,MOTO-AUTO,MOTO,AUTO
7,2016-0010,1,2016-01-29,2016,1,29,1,15:20:00,15,AV GENERAL PAZ Y AV DE LOS CORRALES,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,MOTO-AUTO,MOTO,AUTO
8,2016-0012,1,2016-02-08,2016,2,8,1,01:20:00,1,AV BELGRANO Y BERNARDO DE IRIGOYEN,...,NaN,"IRIGOYEN, BERNARDO DE","BELGRANO AV. e IRIGOYEN, BERNARDO DE",1,Point (107595.35084333 101797.50052813),-58.38048577,-34.61303893,MOTO-CARGAS,MOTO,CARGAS
9,2016-0013,1,2016-02-10,2016,2,10,1,11:30:00,11,AV ENTRE RIOS 1366,...,1366.0,NaN,ENTRE RIOS AV. 1366,1,Point (106616.41069662 100496.44662323),-58.39114932,-34.62477387,PEATON-AUTO,PEATON,AUTO

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     690 non-null    object
 1   N_VICTIMAS             690 non-null    int64
 2   FECHA                  690 non-null    datetime64[ns]
 3   AAAA                   690 non-null    int64
 4   MM                     690 non-null    int64
 5   DD                     690 non-null    int64
 6   Semestre               690 non-null    int64
 7   HORA                   690 non-null    object
 8   HH                     690 non-null    object
 9   LUGAR_DEL_HECHO        690 non-null    object
 10  TIPO_DE_CALLE          690 non-null    object
 11  Calle                  690 non-null    object
 12  Altura                 128 non-null    float64
 13  Cruce                  523 non-null    object
 14  Dirección Normalizada  683 non-null    object
 15  COMUNA                 690 non-null    int64
 16  XY (CABA)              690 non-null    object
 17  pos x                  690 non-null    object
 18  pos y                  690 non-null    object
 19  PARTICIPANTES          690 non-null    object
 20  VICTIMA                690 non-null    object
 21  ACUSADO                690 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(6), object(14)
memory usage: 118.7+ KB

In [24]:
df['LUGAR_DEL_HECHO']      = df['LUGAR_DEL_HECHO'].astype('category')
df['TIPO_DE_CALLE']        = df['TIPO_DE_CALLE'].astype('category')
df['Calle']                = df['Calle'].astype('category')
df['Altura']               = df['Altura'].astype('category')
df['Cruce']                = df['Cruce'].astype('category')
df['Dirección Normalizada']= df['Dirección Normalizada'].astype('category')
df['COMUNA']               = df['COMUNA'].astype('category')
df['PARTICIPANTES']        = df['PARTICIPANTES'].astype('category')
df['VICTIMA']              = df['VICTIMA'].astype('category')
df['ACUSADO']              = df['ACUSADO'].astype('category')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     690 non-null    object
 1   N_VICTIMAS             690 non-null    int64
 2   FECHA                  690 non-null    datetime64[ns]
 3   AAAA                   690 non-null    int64
 4   MM                     690 non-null    int64
 5   DD                     690 non-null    int64
 6   Semestre               690 non-null    int64
 7   HORA                   690 non-null    object
 8   HH                     690 non-null    object
 9   LUGAR_DEL_HECHO        690 non-null    category
 10  TIPO_DE_CALLE          690 non-null    category
 11  Calle                  690 non-null    category
 12  Altura                 128 non-null    category
 13  Cruce                  523 non-null    category
 14  Dirección Normalizada  683 non-null    category
 15  COMUNA                 690 non-null    category
 16  XY (CABA)              690 non-null    object
 17  pos x                  690 non-null    object
 18  pos y                  690 non-null    object
 19  PARTICIPANTES          690 non-null    category
 20  VICTIMA                690 non-null    category
 21  ACUSADO                690 non-null    category
dtypes: category(10), datetime64[ns](1), int64(5), object(6)
memory usage: 145.6+ KB

In [28]:
df['MM'].value_counts()

MM
12    77
11    66
8     64
1     62
5     60
6     57
2     56
3     51
7     51
10    51
4     49
9     46
Name: count, dtype: int64

In [31]:
df['PARTICIPANTES'].unique()

['MOTO-AUTO', 'AUTO-PASAJEROS', 'MOTO-SD', 'MOTO-PASAJEROS', 'MOTO-OBJETO FIJO', ..., 'BICICLETA-TREN', 'BICICLETA-OTRO', 'MOTO-OTRO', 'PEATON_MOTO-MOTO', 'PASAJEROS-SD']
Length: 40
Categories (40, object): ['AUTO-AUTO', 'AUTO-CARGAS', 'AUTO-MOVIL', 'AUTO-OBJETO FIJO', ..., 'PEATON_MOTO-MOTO', 'SD-AUTO', 'SD-CARGAS', 'SD-MOTO']

In [32]:
df.describe()

,N_VICTIMAS,FECHA,AAAA,MM,DD,Semestre
count,690.000000,690,690.000000,690.000000,690.000000,690.000000
mean,1.030435,2018-09-20 05:27:39.130434816,2018.205797,6.678261,15.963768,1.514493
min,1.000000,2016-01-01 00:00:00,2016.000000,1.000000,1.000000,1.000000
25%,1.000000,2017-04-16 06:00:00,2017.000000,4.000000,9.000000,1.000000
50%,1.000000,2018-07-16 00:00:00,2018.000000,7.000000,16.000000,2.000000
75%,1.000000,2020-01-09 12:00:00,2020.000000,10.000000,23.000000,2.000000
max,3.000000,2021-12-30 00:00:00,2021.000000,12.000000,31.000000,2.000000
std,0.180150,NaN,1.680062,3.574335,8.635843,0.500152